<?xml version="1.0"?>
<phpunit bootstrap="test/Bootstrap.php">
  <testsuites>
    <testsuite name="PHPUnit Tests">
      <directory suffix=".php">test/</directory>
    </testsuite>
  </testsuites>
  <filter>
    <blacklist>
      <directory>lib/</directory>
    </blacklist>
    <whitelist>
      <directory>src/</directory>
    </whitelist>
  </filter>
  <logging>
    <log type="coverage-clover" target="build/clover.xml"/>
    <log type="coverage-html" target="build/coverage"/>
  </logging>
  <php>
    <var name="DB_DSN" value="mysql:dbname=mp3-indexer;host=localhost" />
    <var name="DB_USER" value="root" />
    <var name="DB_PASSWD" value="" />
    <var name="DB_DBNAME" value="mp3-indexer" />
  </php>
</phpunit>
